<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Meme</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">

    <form th:action="@{/web/addmeme}" th:object="${meme}" method="post" >
    <div class="text-center">
        <div class="card mx-auto" style="width: 18rem;">
            <img th:src="@{${picture.url}}"  class="card-img-top" style="width: auto; height: 300px;object-fit: cover">
            <p th:if="${#fields.hasErrors('picture')}" th:errorclass="errors" th:errors="*{picture}"/>
        </div>
    <h1>Choose a Quote to the Picture</h1>

        <div class="form-group">
            <select class="custom-select" multiple>
                <option th:each="quote : ${quotes}" th:text="${quote.text}" th:value="quote" th:field="*{quote}"></option>
            </select>
            <p th:if="${#fields.hasErrors('quote')}" th:errorclass="errors" th:errors="*{quote}"/>
        </div>
        <button type="submit" class="btn btn-success">Add Quote to Picture</button>
    </div>
    </form>
    <p th:if="${#fields.hasErrors('meme')}" th:errorclass="errors" th:errors="*{meme}"/>
</div>


</body>
</html>