<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <h1>All Memes</h1>

    <a th:href="@{/web/addmeme}" class="btn btn-info">Play</a>
    <br>
    <div class="row">
        <div class="col-md-2 d-flex align-items-stretch" th:each="meme : ${memes}">
            <div class="card">
                <img th:src="@{${meme.picture.url}}" class="card-img-top" style="width: 100%;height: 15vw; object-fit: cover;" th:alt="${meme.picture.name}">
                <div class="card-body">
                    <p class="card-text" th:text="${meme.quote.text}"></p>
                    <p class="card-text">Likes: <strong th:text="${meme.likes}"></strong></p>
                    <p class="card-text" th:text="${meme.date}"></p>
                    <a th:href="@{/web/addlike/{id}(id=${meme.id})}" class="btn btn-primary">Liken</a>
                    <a th:href="@{/web/deletememe/{id}(id=${meme.id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>