<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid ">
    <h1>All Pictures</h1>
    <a th:href="@{/web/addpicture}" class="btn btn-primary mb-3">Add Picture</a>
       <div class="row">
        <div class="col-md-2 d-flex align-items-stretch" th:each="picture : ${pictures}">
            <div class="card">
                <img th:src="@{${picture.url}}" class="card-img-top" style="width: 100%;height: 15vw; object-fit: cover;"
                     th:alt="${picture.name}">
                <div class="card-body">
                    <p class="card-text" >Kategorie <strong th:text="${picture.kategorie}"></strong> </p>
                    <a th:href="@{/web/changepicture/{id}(id=${picture.id})}" class="btn btn-info">Change</a>
                    <a th:href="@{/web/deletepicture/{id}(id=${picture.id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>